snippet reactComponent
	import React, {PropTypes} from 'react';
	
	const ${1:ClassName} = () => {
	  return (
	  );
	};

	${2:ClassName}.propTypes = {
	  //myprop: PropTypes.type.isRequired
	};

	export default ${3:ClassName};
